body {
  padding: 20px 30px 20px 30px;
}

h2 {
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  color: #871818;
  padding-top: 15px;
  text-align: center;
}

h3 {
  text-align: center;
  color: #871818;
}

p {
  text-align: center;
}

b {
  color: #871818;
}

.icon {
  color: #7b7e82;
}

.icon:hover {
  color: #d1463a;
  transform: scale(1.5, 1.5);
}

.icon.active {
  color: #871818;
}

.unclickable {
  pointer-events: none;
}

#applied {
  color: #ffffff;
  background-color: #7b7e82;
  font-size: 15px;
  margin-top: 25px;
  align-self: center;
}

#applied:hover {
  color: #ffffff;
  background-color: #d1463a;
  transform: scale(1.05, 1.05);
}

#applied.active {
  color: #ffffff;
  background-color: #871818;
}

#footer {
  height: 20px;
}
